<div><h3>Descructuring</h3>
  <div>
    id = {{ id }}
  </div>
  <div>
    description = {{ description }}
  </div>
  <div>
    identity = {{ identity }}
  </div>
  <div>
    prodId = {{ prodId }}
  </div>
  <div>
    prodDescr = {{ prodDescr }}
  </div>
  <div>
    company1 = {{ company1 }}
  </div>
  <div>
    company2 = {{ company2 }}
  </div>
  <div>
    company3 = {{ company3 }}
  </div>
  <div>
    {{ company1Message }}
  </div>
  <div>
    {{ company2Message }}
  </div>
  <div>
    {{ company3Message }}
  </div>

  <div>
    user1 = {{ user1 }}
  </div>
  <div>
    user2 = {{ user2 }}
  </div>
  <div>
    otherUsers = {{ otherUsers |json }}
  </div>

</div>
