
div {
  font-family: Arial;
  font-size: 32px;
  font-weight: bold;
  background: lightgoldenrodyellow;
}

h1 {
  font-family: Arial;
  font-size: 24px;
  color: darkred;
  font-weight: bold;
}

h2 {
  font-family: Arial;
  font-size: 20px;
  color:darkslateblue;
  font-weight: bold;
}
h3 {
  font-family: Arial;
  font-size: 14px;
  color:blue;
  font-weight: bold;
}
